<div class="panel panel-default">
    <div class="panel-heading"><span class="lead">Agents</span></div>

    <div class="button-container">

        <label for="agentPageSize">Page size:</label>
        <select id="agentPageSize" ng-model="pageSize" ng-init="pageSize='10'" ng-change="updatePageSize()">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>

        <div class="btn-group">
            <button type="button" class="btn btn-primary" ng-click="prevPage()">Previous Page</button>
            <button type="button" class="btn btn-primary" ng-click="nextPage()">Next Page</button>
        </div>
    </div>

    <div class="tablecontainer">
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <th class="col-md-1">Type</th>
                <th class="col-md-1">Name</th>
                <th class="col-md-1">Mbox</th>
                <th class="col-md-1">OpenID</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="agent in agents">
                <td>{{agent.objectType}}</td>
                <td>{{agent.name}}</td>
                <td>{{agent.mbox}}</td>
                <td>{{agent.openid}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>