<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a th:href="@{/}" href="index.html"> Home </a></li>
                <li><a th:href="@{/logout}" href="logout"> Logout </a></li>
            </ul>
        </div>
    </div>
    <h1 th:text="${title}">Title</h1>
    <div id="created" th:text="${#dates.format(timestamp)}">January 30,
        2017 2:17:16 PM CDT</div>
    <div>
        There was an unexpected error (type=<span th:text="${error}">Bad</span>, status=<span th:text="${status}">500</span>).
    </div>
    <div th:text="${message}">Content</div>
    <div>
        Please contact the administrator with the above information.
    </div>
</div>
</body>
</html>