<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>ModernLRS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="../css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<p>Modern LRS home page.</p>

<script src="http://cdn.jsdelivr.net/webjars/angularjs/1.6.1/angular.min.js"
        th:src="@{/webjars/angularjs/1.6.1/angular.min.js}"></script>
<script type="text/javascript" src="../js/app.js"
        th:src="@{/js/app.js}"></script>

</body>
</html>