<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>ModernLRS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="../css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/angularjs/1.6.1/angular.min.js"
            th:src="@{/webjars/angularjs/1.6.1/angular.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/angularjs/1.6.1/angular-resource.min.js"
            th:src="@{/webjars/angularjs/1.6.1/angular-resource.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/angularjs/1.6.1/angular-route.min.js"
            th:src="@{/webjars/angularjs/1.6.1/angular-route.min.js}"></script>
    <script type="text/javascript" src="../js/app.js"
            th:src="@{/js/app.js}"></script>
    <script type="text/javascript" src="../js/controllers/DashboardController.js"
            th:src="@{/js/controllers/DashboardController.js}"></script>
    <script type="text/javascript" src="../js/controllers/ActivityLogController.js"
            th:src="@{/js/controllers/ActivityLogController.js}"></script>
    <script type="text/javascript" src="../js/controllers/Navigation.js"
            th:src="@{/js/controllers/Navigation.js}"></script>
    <script type="text/javascript" src="../js/controllers/ActivitiesController.js"
            th:src="@{/js/controllers/ActivitiesController.js}"></script>
    <script type="text/javascript" src="../js/controllers/AgentsController.js"
            th:src="@{/js/controllers/AgentsController.js}"></script>
    <script type="text/javascript" src="../js/controllers/ReportsController.js"
            th:src="@{/js/controllers/ReportsController.js}"></script>
    <script type="text/javascript" src="../js/controllers/StatementsController.js"
            th:src="@{/js/controllers/StatementsController.js}"></script>
    <script type="text/javascript" src="../js/controllers/UsersController.js"
            th:src="@{/js/controllers/UsersController.js}"></script>
    <script type="text/javascript" src="../js/controllers/VerbsController.js"
            th:src="@{/js/controllers/VerbsController.js}"></script>

</head>
<body ng-app="dashboard">

    <div class="main" ng-controller="DashboardController">
        <div class="title" >{{ title }}</div>
        <div class="container">

            <div ng-view=""></div>

        </div>

        <div ng-controller="Navigation">
            <div class="navigation-container" sidebar-directive="state">
                <a href="#" id="navigation-toggle" ng-click="toggleState()"></a>
                <ul class="navigation">
                    <li class="navigation-items"> <a href="/activityLogView">Activity log</a> </li>
                    <li class="navigation-items"> <a href="/statementsView">Statements</a> </li>
                    <li class="navigation-items"> <a href="/verbsView">Verbs</a> </li>
                    <li class="navigation-items"> <a href="/agentsView">Agents</a> </li>
                    <li class="navigation-items"> <a href="/activitiesView">Activities</a> </li>
                    <li class="navigation-items"> <a href="/reportsView">Reports</a> </li>
                    <li class="navigation-items"> <a href="/usersView">Manage users</a> </li>
                </ul>
            </div>
        </div>

    </div>



</body>
</html>